<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" (click)="goUp()">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-4">{{amount}}</div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" (click)="goDown()">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>    </div>
</div>