<div *ngIf="userInfo!=null && userInfo.IsAuthenticated">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a class="nav-link" href="#">{{userInfo.UserName}}</a>
    </li>
    <li>
      <a class="nav-link" href="#" (click)="logout()">Log out</a>
    </li>
  </ul>
</div>
<div *ngIf="userInfo==null || !userInfo.IsAuthenticated">
  <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" [routerLink]="['register-account']">Register</a></li>
    <li><a class="nav-link" [routerLink]="['login-account']">Log in</a></li>
  </ul>
</div>
