<div (mouseover)='showAllStars()'
    (mouseout)='ngOnChanges()'>
    <div class="crop" [style.width.px]="starWidth"
     [title]="rating">
        <div style="width: 90px">
            <span (click)='changeStar(1)' class="glyphicon glyphicon-star"></span>
            <span (click)='changeStar(2)' class="glyphicon glyphicon-star"></span>
            <span (click)='changeStar(3)' class="glyphicon glyphicon-star"></span>
            <span (click)='changeStar(4)' class="glyphicon glyphicon-star"></span>
            <span (click)='changeStar(5)' class="glyphicon glyphicon-star"></span>
        </div>
    </div>
</div>