<form #vacancyForm="ngForm" class="form-horizontal">
  <h4>Create new vacancy</h4>
  <hr />
  <div class="text-danger"></div>
  <div class="form-group">
    <label class="col-md-3 control-label required-asterisk">First name</label>
    <div class="col-md-9">
      <input [(ngModel)]="model.FirstName" required name="FirstName" #firstName='ngModel' class="form-control" />
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
        <span class="validationMessage" [hidden]="!firstName.errors.required">First name is required</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label required-asterisk">Last name</label>
    <div class="col-md-9">
      <input [(ngModel)]="model.LastName" required name="LastName" #lastName='ngModel' class="form-control" />
      <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <span class="validationMessage" [hidden]="!lastName.errors.required">Last name is required</span>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" (click)='save()' [disabled]="!vacancyForm.form.valid" class="btn btn-primary">Save</button>
      <button type="submit" (click)='cancel()' class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
