<form #vacancyForm="ngForm" class="form-horizontal">
  <h4>Create new vacancy</h4>
  <hr />
  <div class="text-danger"></div>
  <div class="form-group">
    <label class="col-md-3 control-label required-asterisk">Title</label>
    <div class="input-group">
      <input [(ngModel)]="model.vacancyTitle" required name="VacancyTitle" #vacancyTitle='ngModel' class="form-control" />
      <div *ngIf="vacancyTitle.errors && (vacancyTitle.dirty || vacancyTitle.touched)">
        <span class="validationMessage" [hidden]="!vacancyTitle.errors.required">First name is required</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label required-asterisk">Due date</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model.dueDate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-addon" (click)="d.toggle()" >
        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label required-asterisk">Vacancy</label>
    <div class="input-group">
      <select [(ngModel)]="model.projectKey" required name="Project" #project='ngModel' class="form-control">
        <option *ngFor="let proj of projectsOptions" [ngValue]="proj.projectId">{{proj.title}}</option>
      </select>
      <div *ngIf="project.errors && (project.dirty || project.touched)">
        <span class="validationMessage" [hidden]="!project.errors.required">Project is required</span>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-offset-3 input-group">
      <button type="submit" (click)='save()' [disabled]="!vacancyForm.form.valid" class="btn btn-primary">Save</button>
      <button type="submit" (click)='cancel()' class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
