.validationMessage {
  color: red;
  font-style: italic;
}

.required-asterisk:after {
  content: " *";
  color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #337ab7;
  color: white;
}

td.align-right {
  text-align: right
}
